.vertical-menu {
    width: 400px;
    height: 170px;
    overflow-x: auto;
    font-size: 14pt;
    display: inline-block;
    float: left;
    margin-right: 100px;
    margin-left: 60px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.admin_item_menu {
    width: 200px;
    padding: 20px; /* Поля вокруг текста */
    border: 5px solid black; /* Параметры границы */
    background: #66ff66; /* Цвет фона */
    text-align: center; /* расположение текста*/
    font-size: 18pt; /* Размер шрифта */
    display: inline-block;
    float: left;
}

.user_form {
    display: inline-block;
    float: left;
}

.admin_right_menu {
    height: auto;
    float: left;
    width: 150px;
    margin-right: 50px;
}

.header_menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 200px;
}

.header {
    width: 100%;
    position: relative;
    height: 100px;
}

.header_hello{


}

.questions {

}


